body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

.container {
  padding: 10px 10px;
}

.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  width: 100%;
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}


.img-small-centered {
  display: block;
  width:60%;
  margin: 0 auto;
}

.rotate-on-hover:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
#portfolio .card {
  border: 2px solid #343a40; /* Set border for all cards */
}

#portfolio .card-body {
  height: 100%; /* Make sure all card bodies have the same height */
  display: flex;
  flex-direction: column;
}

#portfolio .card-text {
  flex-grow: 1; /* Allow card text to grow and take up available space */
}

#portfolio .btn-primary {
  margin-top: auto; /* Push the button to the bottom */
}


@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.bg-1 {
  background: #2d2d30;
  color: #fff;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: red !important;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactUs, .location {
  text-align: center;
}

.contactUs {
  font-size: 2rem;
  gap: 10px;
}

.contactButton {
  background-color: black;
  color: white;
}
