/*Creates a container for the left and right columns*/
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 55% 45%;
    background-color:#302f2f;
    border: 5px solid #fff;
    border-left: none;
    border-right: none;
}

/* Styles for the left column with image*/
.left-column {
    justify-self: center;
    display: grid;
    padding: 30px;
}

/* Styles for the right column with text box*/
.right-column {
  max-width: 570px;
    padding-top: 45px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    justify-self:left;
    line-height: 1.4em;
}

/* Media queries for smaller screens */
@media (max-width: 968px) {
    .section {
      grid-template-columns: 1fr;
     }

     .left-column {
      justify-self: center;
    }
    
    .right-column {
      justify-self:center;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 0px; 
    }
}